html {
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: 2px 1px black;
}
  
  /* Your CSS below here */
  

div {
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid maroon;
    background-color: red;
    border-radius: 10px;
    line-height: 10;
}